/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-grey: #EEEEEE;
  --basic-red: #FB565A;
  --basic-red-middle: #E74246;
  --basic-red-dark: #D7373B;
  --basic-green: #00CA74;
  --basic-green-middle: #00BC6C;
  --basic-green-dark: #00AA62;
  --basic-yellow: #EFC84A;
  --basic-yellow-middle: #EAB534;
  --basic-yellow-dark: #E5A722;

  --color-gray: #E1E1E1;
  --color-gray-000: #b8b8b8;
  --color-gray-100: #a7a7a7;
  --color-gray-200: #B4B9BB;
  --color-gray-300: #DFDFDF;
  --color-gray-400: #D5D5D5;
  --color-gray-500: #b3b3b3;
  --color-gray-600: #666666;
  --color-gray-700: #283136;
  --color-gray-800: #4d4d4d;
  --color-gray-900: #ededed;
  --color-gray-1000: #d7dcde;
  --color-gray-2000: #eaeaea;
  --color-gray-3000: #bfc1c3;
  --color-gray-4000: #3f4445;

  --color-red-100: #feccce;
  --color-red-200: #ffeeef;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src:
  url('../fonts/roboto.woff2') format('woff2'),
  url('../fonts/roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src:
  url('../fonts/robotobold.woff2') format('woff2'),
  url('../fonts/robotobold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src:
  url('../fonts/robotomedium.woff2') format('woff2'),
  url('../fonts/robotomedium.woff') format('woff');
}

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-gray-700);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header {
  padding-bottom: 37px;
  background-color: var(--basic-grey);
}

.main-header-logo {
  justify-self: start;
}

.features-slider-title {
  margin: 0;
}

/* Grid */

.page {
  height: 100%;
}

/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  column-gap: 40px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}


.main-navigation ul {
  list-style: none;
}

.main-navigation a {
  color: var(--basic-black);
}

/* User navigation */

.site-navigation {
  margin: 0;
  padding: 0;
}

.site-navigation a,
.shopping-cart {
  color: var(--basic-black);
}

.site-navigation a:hover,
.shopping-cart:hover {
  color: var(--basic-red);
}

.site-navigation a:focus,
.shopping-cart:focus {
  color: var(--color-gray);
}

.site-navigation-item_active{
  border-bottom: 2px solid var(--basic-red);
  color: var(--basic-black);
  margin-top: 23px;
}

/* Title hidden */

.hidden {
  display: none;
}

/* Content */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.catalog-page {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  align-content: start;
}

.content-title {
  margin: 0;
  padding-bottom: 107px;
  text-align: center;
  background-color: var(--basic-grey);
}

.content-title h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/* Features */

.features {
  background-color: var(--basic-grey);
}

.features h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.features p {
  padding-top: 25px;
  padding-bottom: 38px;
  font-weight: 400;
}

.features .btn:hover {
  background-color: var(--basic-red-middle);
}

.features .btn:focus {
  background-color: var(--basic-red-dark);
}

/* Filters-value */

.filters {
  grid-row: span 2;
}

.filters-value {
  width: 260px;
  border-radius: 3px;
}

.filters-value h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filters-value-wrapper {
  margin-bottom: 10px;
  padding: 39px 18px;
  border-radius: 3px;
  background-color: var(--basic-grey);
}

.filters-range {
  position: relative;
}

.filters-range-scale {
  height: 2px;
  background-color: var(--color-gray-1000);
}

.filters-range-bar {
  height: 2px;
  width: 75%;
  background-color: var(--basic-green);
}

.filters-range-handle {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  box-sizing: content-box;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--color-gray-4000);
  cursor: pointer;
}

.filters-interval {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--color-gray-700);
}

.filters-interval label {
  width: 50%;
  text-transform: uppercase;
}

.filters-interval label:last-child {
  text-align: right;
}

.filters-interval input {
  margin-left: 8px;
  width: 80px;
  height: 38px;
  border-radius: 2px;
  border: none;
  font: inherit;
  color: inherit;
  text-align: center;
  background-color: var(--basic-grey);
}

.filters-grid {
  margin-top: 54px;
}

.filters-grid legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filters-grid ul {
  list-style: none;
}

.filters-grid label {
  font-weight: 400;
  line-height: 19px;
  color: var(--color-gray-700);
}

.filters-features {
  margin-top: 46px;
  margin-bottom: 50px;
}

.filters-features legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-input-checkbox {
  color: var(--color-gray-800);
}

.filter-input-checkbox:hover{
  color: var(--color-gray-700);
}

.filter-input-checkbox:active{
  color: var(--color-gray-900);
}

.filters-grid:active label {
  color: var(--color-gray-800);
}

.filters-sorting ul {
  list-style: none;
}

.filters-sorting p {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* Filters-sorting */

.filters-sorting-variety a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-gray-200);
}

.filters-sorting-variety:hover a{
  color:var(--color-gray-600);
}

.filters-sorting-variety:active a{
  color:var(--basic-black);
}

/* Products */

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-item {
  background-color: var(--basic-grey);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.products-list h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.products-list:hover h3{
  color: var(--basic-red);
}

.products-list:active h3{
  color: var(--color-gray-600);
}

.products-list p {
  line-height: 18px;
  color: var(--color-gray-600);
}

.products-desc {
  text-align: center;
}

.products .btn {
  font-weight: 500;
  font-size: 16px;
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
color: var(--basic-black);
background-color: var(--basic-grey);
}

.pagination-item:hover a {
  background-color: var(--color-gray-300);
}

.pagination-item:focus a {
  background-color: var(--color-gray-400);
}

.pagination-item:active a {
  background-color: var(--basic-white);
}

.pagination-item_active a,
.pagination-item_active a:hover,
.pagination-item_active a:focus,
.pagination-item_active a:active {
  background-color: var(--basic-white);
}

/* Services */

.services {
  margin-bottom: 80px;
}

.services ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services li {
  text-align: left;
}

.services h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services p {
  font-weight: 400;
}

.services a {
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}

/* About */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 140px;
}

.about-title {
  width: 651px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about-text {
  margin: 32px 0 40px 0;
}

.about-text-list {
  font-weight: 700;
  text-transform: uppercase;
}

.about-item {
  font-weight: 400;
}

.about-right {
  padding-top: 245px;
  justify-self: end;
  background-color: var(--basic-white);
  background-image: url("../img/logo/nerds-illustration.svg");
  background-position: right top;
  background-repeat: no-repeat;
}

.desc {
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.desc-figure {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.desc-item {
  font-weight: 400;
  line-height: 18px;
}

.desc sup {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

/* Partners */

.partners ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}

/* Button */

.button {
  display: inline-block;
  padding: 17px 54px 15px 54px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color:var(--basic-red);
  line-height: 18px;
}

.button:hover {
  background-color: var(--basic-red-middle);
}

.button:focus {
  background-color: var(--basic-red-dark);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-red);
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--basic-green-middle);
}

.button-green:focus {
  background-color: var(--basic-green-dark);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--basic-yellow-middle);
}

.button-yellow:focus {
  background-color: var(--basic-yellow-dark);
}

/* Main footer */

.main-footer {
  margin: 0 auto;
  width: 100%;
}

.contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-address  {
  font-weight: 400;
  color: var(--color-gray-600);
}

.contacts-phone {
  font-weight: 400;
  line-height: 18px;
  color: var(--color-gray-600);
}

.offer {
  text-align: left;
  justify-self: center;
}

.offer h3 {
  margin: 0;
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin: 0;
}

.offer p {
  margin: 0;
  padding-top: 10px;
  width: 373px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color-gray-600);
}

.footer-socials ul {
  grid-template-columns: 260px 1fr;
  column-gap: 40px;
  justify-self: start;
  list-style: none;
}

/* Footer social button */

.footer-socials a {
  display: inline-block;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  color: inherit;
  background-color: var(--color-gray);
}

.footer-socials a:hover {
  background-color: var(--basic-red-middle);
}

.footer-socials a:focus {
  background-color: var(--basic-red-dark);
}
